body {
	line-height: 140%;
	/*max-width: 651px;*/

  max-width: 800px;

	margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  /*margin: 40px auto;*/
	font-size: 18px;
	color: #444;
	background-color: #fff;
	padding: 0px;
  height: 100%;
	/*font-family: 'Computer Modern Serif', serif;*/
/*  font-family: 'Times', 'Times New Roman', 'dejavu serif', serif;*/
  font-family: sans-serif;
  /*font-variant-numeric: oldstyle-nums proportional-nums;*/
}

@media	only screen and (-webkit-min-device-pixel-ratio: 1.3),
        only screen and (-o-min-device-pixel-ratio: 13/10),
        only screen and (min-resolution: 120dpi)
{
    body {
        /*font-family: "linlibertine", 'linux libertine regular', 'Georgia', 'times', 'times new roman', 'dejavu serif', serif;*/
    }
}

html { height: 100%; }

article iframe, article img { max-width: 100%; }

@media screen and (min-device-width: 480px) {
    .page {
        box-shadow: 0px 0px 5px 5px #eee;
        min-height: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.page {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 75px;
    padding-bottom: 0px;
    padding-top: 40px;
    background-color: #fff;
}

@media screen and (max-device-width: 480px) {
    body {
        background-image: none;
        font-size: 18px;
    }
    #postdate {
        padding-top: 18px;
    }
    .page {
        padding: 25px;
    }
}

h1,h2,h3 { /*font-family: "linbiolinum", 'Linux Biolinum', 'Calibri', 'Helvetica', 'Arial', sans-serif;
		       line-height: 120%;*/
         }
header h1 { margin: -20px auto -10px auto; line-height: 100%; }

/*h2,h3,header,*/footer { font-style: italic; }
h1 { font-style: normal; }

header { margin-bottom: 5ex; }

#postdate { text-align: right; margin-top: -10px; }

footer h3,header {
	/*line-height: 0;*/
}

code {
	/*font-size: 14px;
	font-family: "Source Code Pro", "Inconsolata", "DejaVu Sans Mono", "Menlo", monospace;*/
        overflow-x: scroll;
}

pre.highlight code {
    display: block;
    line-height: 140%;
}

.small { text-align: right; font-size: 8pt;
         /*font-family: "linbiolinum", 'Linux Biolinum', 'Calibri', 'Helvetica',
         'Arial', sans-serif;*/
       }

.footnotes { font-size: 16px; line-height: 100%;}

blockquote { font-style: italic; }
