html {
	font-size: 18px;
	height: 100%;
	line-height: 1.4;
	color: #222;
	background-color: #fff;
}

body {
	font-size: 18px;
	font-family: sans-serif;
	margin: auto;
	max-width: 800px;
	height: 100%;
}

@media	only screen and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (-o-min-device-pixel-ratio: 13/10),
only screen and (min-resolution: 120dpi)
{
	body {
	}
}

article iframe, article img { max-width: 100%; }

@media screen and (min-device-width: 480px) {
	.page {
		min-height: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

.page {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 40px;
	padding-bottom: 0px;
	padding-top: 20px;
	background-color: #fff;
}

@media screen and (max-device-width: 480px) {
	body {
		background-image: none;
		font-size: 16px;
	}
	#postdate {
		padding-top: 18px;
	}
	.page {
		padding: 25px;
	}
}

h1,h2,h3 { }
header h1 { }

/*h2,h3,header,*/footer {}
h1 {}

header {}

#postdate {}

footer h3,header {
}

code {
	overflow-x: auto;
}

pre.sourceCode code {
	display: block;
	line-height: 140%;
	background-color: #f6f6f6;
	padding: 10pt;
	border-radius: 8px;
}

.small { text-align: right; font-size: 8pt; }

.footnotes { font-size: 16px; line-height: 100%;}

blockquote { font-style: italic; }
